@page "{id:int?}"
@model UnifiedUISystem.Pages.SDLoen.DeleteModel

<h2>Bekræft sletning</h2>

<p>Er du sikker på, at du vil slette denne medarbejder?</p>

<div>
    <strong>Navn:</strong> @Model.EmployeeInfo.FirstName @Model.EmployeeInfo.LastName
</div>
<div>
    <strong>CPR-Nummer:</strong> @Model.EmployeeInfo.CPRNumber
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Slet</button>
    <a asp-page="../Index" asp-route-activeTab="sdloen" class="btn btn-secondary">Annuller</a>
</form>
<style>
    body {
        padding-bottom: 70px; /* Tilføj plads til footer */
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 10px 0;
        text-align: center;
        border-top: 1px solid #e7e7e7;
    }

    .btn-secondary {
        margin-top: 20px;
    }
</style>