@page "{id:int}"
@model UnifiedUISystem.Pages.SofdCore.DeleteModel
@{
    ViewData["Title"] = "Slet Medarbejder";
}

<h1>Slet Medarbejder</h1>

<div>
    <h4>Er du sikker på, at du vil slette denne medarbejder?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Fornavn</dt>
        <dd class="col-sm-10">@Model.Account.FirstName</dd>

        <dt class="col-sm-2">Efternavn</dt>
        <dd class="col-sm-10">@Model.Account.LastName</dd>

        <dt class="col-sm-2">Stilling</dt>
        <dd class="col-sm-10">@Model.Account.Position</dd>

        <dt class="col-sm-2">Jobtype</dt>
        <dd class="col-sm-10">@Model.Account.JobType</dd>
    </dl>

    <form method="post">
        <button type="submit" class="btn btn-danger">Slet</button>
        <a asp-page="../Index" asp-route-activeTab="sofdcore" class="btn btn-secondary">Annuller</a>
    </form>
</div>
<style>
    body {
        padding-bottom: 70px; /* Tilføj plads til footer */
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 10px 0;
        text-align: center;
        border-top: 1px solid #e7e7e7;
    }

    .btn-secondary {
        margin-top: 20px;
    }
</style>